.carousel {
    width: 300px;
    height: 300px;
    border: solid 4px yellow;
    border-radius: 10px;
}
.submit {
    width: 150px;
    height: auto;
    margin: 20px;
}
body {
    text-align: center;
    background-color: yellowgreen;
}
h1 {
    background-color: mediumseagreen;
    border: solid 4px yellow;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}